/* Layout */
.main-container { 
    margin:             0 auto; 
    padding:            12px 30px; 
}
.page-container {
    -moz-border-bottom-colors: none;
    -moz-border-image:  none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color:   #FFFFFF;
    border-color:       #E0E0E0 #D4D4D4 #BBBBBB;
    border-radius:      4px 4px 4px 4px;
    border-style:       solid;
    border-width:       1px;
    box-shadow:         0 4px 15px rgba(0, 0, 0, 0.25);
    padding:            0; 
    margin:             0 auto;
    min-width:          950px;
}
.page-header { 
    background:         -moz-linear-gradient(center top , rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)) repeat scroll 0 0 #ECF1F4; 
    margin:             0; 
    padding:            0 20px; 
    border-radius:      4px 4px 0px 0px; 
    border-bottom:      1px solid #E0E0E0;
    box-shadow:         0 2px 0 #F1F1F1;
}
.page-header table { 
    width:              100%; 
}
.page-header table td { 
    vertical-align:     middle; 
    height:             45px; 
}
.page-header table td.title { 
    width:              75%; 
    text-align:         left; 
    vertical-align:     middle; 
}
.page-header table td.title h1 { 
    padding:            0;
    margin:             0; 
    font-size:          11pt; 
    width:              60%; 
    text-shadow:        0 1px 0 #FFFFFF; 
    color:              #5F6C74; 
    font-weight:        bold; 
}
.page-header table td.shortcuts { 
    width:              25%; 
    text-align:         right; 
}
.page-body { 
    padding:            10px 20px 20px; 
    margin:             0; 
    display:            block; 
}
.page-footer { 
    text-align:         left; 
    padding:            10px 20px 10px 20px; 
    margin:             0; 
    color:              #666666; 
    border-radius:      0 0 4px 4px;
    background-color:   #E7EEF1;
    box-shadow:         0 -1px 0 rgba(0, 0, 0, 0.15);
}
/* @end layout */
